<div class="welcomeContainerDiv">
    <div class="welcomeImageDiv">
        <img src="../../../assets/images/botiquinLogo.jpg" alt="imagen que muestra el dibujo de un botiquín y de material médico"/>
        <a href="https://www.freepik.es/vectores/corazon">Vector de Corazón creado por macrovector - www.freepik.es</a>
    </div>
    <button class="btn btn-primary" (click)="navigateTo('firstAidKit')">{{'common.firstAidKit' | translate}}</button>
    <button class="btn btn-primary" (click)="navigateTo('itHurts')">{{'common.itHurts' | translate}}</button>
    <button class="btn btn-primary" (click)="navigateTo('myPharmacy')">{{'common.myPharmacy' | translate}}</button>

</div>
