/* Colors */
$color-white: #fff;
$color-green: #bffdba;
$color-tourqueise: #00f9ff;
$color-paleBlue: #71a7c7;
$color-brown:#836868;
$color-error: #f53d3d;
$color-black: #000000;
$color-paleGreenYellow: #e7eabf;
$color-transparent: transparent;
